.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.about-content{
    padding: 50px;
}

.footer{
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    margin: 0px auto;
    padding: 70px 30px;
    background: #7986cb;
    color: floralwhite;
}

address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.navbar-inverse{
    background-color: #512da8 ;
}

.tab-content{
    border-bottom: 1px solid #ddd;
    border-right: 1px solid  #ddd;
    border-left: 1px solid  #ddd;
    padding: 10px;
}

.carousel{
    background: #512da8;
}

.carousel-item{
    height: 300px;
}

.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.reserveMedal{
    color: #000000;
}

#carousel-button {
    right:0px;
    position: absolute;
    bottom: 0px;
}